@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  color: yellow;
  font-family: 'Open Sans', sans-serif;
  color: #7f8c8d;
  background-color: #fefefe;
  margin: 5cm;
  margin-top: 2em;
}

#navbar{
  color: darkblue;
}

#navbar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  display: inline-block;
}

#navbar > ul > li {
  margin: 0 2em;
  display: inline-block;
  float: right;
  position: absolute;
}

h1{
  color: gold;
  font-size: 300%;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

p{
  color: darkblue;
  margin: 1cm;

}

input{
  margin: 1em;
}

.nav-link {
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
}

a {
  color: #7f8c8d;
}

img {
  border-radius: 20%;
  width: 10%;
  height: 10%;
}

button{
  font-size: 100%;
}
.wrapper{
  text-align: center;
}
